*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TextFont";
    src: url("./Street\ Dash.ttf");
}
@font-face {
    font-family: "TextFont2";
    src: url("./Super\ Warming.ttf");
}
@font-face {
    font-family: "TextFont3";
    src: url("./SHARPIN.otf");
}
body{
    background-color: aliceblue;
    user-select: none;
    -webkit-user-drag: none;
}
.signin-container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}
.blur{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.726);
}
.login-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 4px 0 black;
    padding-bottom: 30px;
}
.login-box > h2{
    font-family: "TextFont", sans-serif;
    font-size: 50px;
    margin-top: 30px;
}
.login-box > input{
    width: 80%;
    height: 45px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 0 black;
    margin-top: 30px;
    padding-left: 10px;
    font-size: 23px;
    font-family: "TextFont", sans-serif;
}
.login-box > input:active{
    box-shadow: 0 0 0;
}
.login-box > input::placeholder{
    font-size: 23px;
    font-family: "TextFont", sans-serif;
}
.login-box > button{
    display: none;
    width: 50%;
    height: fit-content;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 4px 2px 0 black;
    margin-top: 30px;
    font-family: "TextFont", sans-serif;
    font-size: 30px;
    cursor: pointer;
}
.login-box > button:active{
    box-shadow: 0 0 0;
}
.login-box > button:hover{
    transform: scale(102%);
    transition: 0.7s ease;
}

#welcome-text{
    font-size: 22px;
    font-family: "TextFont3", sans-serif;
    margin-top: 20px;
}
.signin-button{
    width: fit-content;
    height: fit-content;
    width: 200px;
    font-size: 30px;
    padding: 10px;
    font-family: "TextFont", sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 0 black;
    background-color: aliceblue;
    cursor: pointer;
    margin-left: 30px;
}

.signin-button:active{
    box-shadow: 0 0 0;
}
.signin-button:hover{
    transform: scale(102%);
}
.main-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 40%;
    margin-top: 50px;
    margin-left: -50px;
}
.container > img{
    width: 70%;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
}
#btn{
    width: 40%;
    height: fit-content;
    margin-top: 30px;
    background-color: aliceblue;
    border: 3px solid black;
    box-shadow: 5px 5px 0 black;
    border-radius: 10px;
    color: black;
    font-size: 38px;
    font-family: "TextFont", sans-serif;
    cursor: pointer;
}
#btn:hover{
    transform: scale(102%);
}
#btn:active{
    box-shadow: 1 1 0 black;
}
.score-box{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 0 black;
    font-size: 30px;
    font-family:"TextFont", sans-serif;
    margin-left: 20px;
}
#leaderboard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: 550px;
    overflow-y: scroll;
    margin-left: -30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    box-shadow: 5px 7px 0 black;
    border: 3px solid black;
    border-radius: 15px;
}
.leaderboard-box{
    width: 90%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 5px 7px 0 black;
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 30px;
    font-family: "TextFont3", sans-serif;
    font-size: 15px;
}
.leaderboard-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
}
.leaderboard-top > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}
.leaderboard-title{
    font-family: "TextFont3", sans-serif;
    font-size: 50px;
    margin-top: 50px;
}
.leaderboard-first-box{
    width: 90%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 5px 7px 0 black;
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 20px;
    background-color: orange;
    font-family: "TextFont3", sans-serif;
}
@media screen and (max-width: 950px){
    .main-container{
        flex-direction: column;
    }
    .leaderboard-top{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}